/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
@font-face {
  font-family: "Kyoto";
  src: url("/src/assets/fonts/Kyoto.woff") format("woff");
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1984 {
    padding: var(--sectionPadding);
    overflow: visible;
    position: relative;
    z-index: 2;
    margin-top: -0.1em;
    background-color: #dbe3eb;
  }
  #sbs-1984:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.05;
    display: block;
    position: absolute;
    top: -0.1em;
    left: 0;
    z-index: -1;
  }
  #sbs-1984 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1984 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbs-1984 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbs-1984 .cs-ul {
    margin: 0 0 2rem 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Work Sans", sans;
    color: #1a1a1a;
  }
  #sbs-1984 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    color: #1a1a1a;
  }
  #sbs-1984 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #sbs-1984 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1984 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1984 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-1984 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1984 .cs-image-group {
    font-size: min(2.7vw, 1rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    order: -1;
    row-gap: 1em;
  }
  #sbs-1984 .cs-picture {
    width: 90%;
    height: 11.25em;
    box-sizing: border-box;
    background-color: #DAB692;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    grid-column: span 12;
    display: block;
    z-index: 2;
  }
  #sbs-1984 .cs-picture:nth-of-type(even) {
    margin-left: auto;
  }
  #sbs-1984 .cs-picture:hover img {
    transform: scale(1.1);
  }
  #sbs-1984 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #sbs-1984 .cs-graphic {
    width: 130%;
    min-width: 75rem;
    height: 7%;
    object-fit: cover;
    position: absolute;
    bottom: -7%;
    left: 65%;
    z-index: -1;
    transform: translateX(-50%);
    overflow: visible;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1984 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
  }
  #sbs-1984 .cs-content {
    /* changes to 100% at 1300px */
    width: 43vw;
    max-width: 39.375rem;
    padding: 4rem 0;
    align-self: center;
  }
  #sbs-1984 .cs-image-group {
    width: 47vw;
    height: 100%;
    min-height: 35.75rem;
    max-width: 35.125rem;
    /* going absolute so we can make it responsive to the content inside the cs-content area. */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  #sbs-1984 .cs-picture {
    height: auto;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-1984 .cs-content {
    width: 100%;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
.cs-graphic {
  bottom: -5vw; /* Default behavior */
  /* Fine-tune for smaller screens */
  /* Fine-tune for larger screens */
}
@media only screen and (max-width: 650px) {
  .cs-graphic {
    bottom: -20vw; /* Adjust to remove space */
  }
}
@media only screen and (min-width: 1420px) {
  .cs-graphic {
    bottom: -6vw; /* Adjust to remove space */
  }
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1182 {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    background-color: #A6D0FA;
    overflow: visible;
    position: relative;
  }
  #gallery-1182 .cs-graphic {
    width: 130%;
    min-width: 75rem;
    height: 7%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow-x: hidden;
  }
  #gallery-1182 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1182 .cs-content {
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #gallery-1182 .cs-title {
    margin: 0;
  }
  #gallery-1182 .cs-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #gallery-1182 .cs-picture {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    grid-column: span 5;
    position: relative;
  }
  #gallery-1182 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #gallery-1182 {
    flex-direction: row;
  }
  #gallery-1182 .cs-picture {
    grid-column: span 2;
    height: 23vw;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1983 {
    padding: var(--sectionPadding);
    overflow: visible;
    position: relative;
    z-index: 1;
  }
  #sbsr-1983:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1983 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbsr-1983 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbsr-1983 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbsr-1983 .cs-ul {
    margin: 0 0 2rem 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #sbsr-1983 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbsr-1983 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #sbsr-1983 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbsr-1983 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-1983 .cs-button-solid:hover {
    color: #fff;
  }
  #sbsr-1983 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1983 .cs-image-group {
    font-size: min(2.7vw, 1rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    order: -1;
    row-gap: 1em;
  }
  #sbsr-1983 .cs-picture {
    width: 90%;
    height: 11.25em;
    box-sizing: border-box;
    background-color: #DAB692;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    grid-column: span 12;
    display: block;
    z-index: 2;
  }
  #sbsr-1983 .cs-picture:nth-of-type(even) {
    margin-left: auto;
  }
  #sbsr-1983 .cs-picture:hover img {
    transform: scale(1.1);
  }
  #sbsr-1983 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1983 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  #sbsr-1983 .cs-content {
    /* changes to 100% at 1300px */
    width: 43vw;
    max-width: 39.375rem;
    padding: 4rem 0;
    align-self: center;
  }
  #sbsr-1983 .cs-image-group {
    width: 47vw;
    height: 100%;
    min-height: 35.75rem;
    max-width: 35.125rem;
    /* going absolute so we can make it responsive to the content inside the cs-content area. */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #sbsr-1983 .cs-picture {
    height: auto;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbsr-1983 .cs-content {
    width: 100%;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1072 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #cta-1072 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-flex {
    max-width: 39.375rem;
  }
  #cta-1072 .cs-title {
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #cta-1072 .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  #cta-1072 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-1072 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cta-1072 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-1072 .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #cta-1072 .cs-button-transparent:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cta-1072 .cs-button-transparent:after {
    /* border */
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    border: 1px solid #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
    pointer-events: none;
  }
  #cta-1072 .cs-button-transparent:hover {
    color: var(--primary);
  }
  #cta-1072 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #cta-1072 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-1072 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.88;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-1072 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1147 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #footer-1147 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-1147 .cs-top {
    width: 100%;
    /* 32px - 40px */
    margin-bottom: clamp(2rem, 4vw, 2.5rem);
    padding-bottom: clamp(2rem, 4vw, 2.5rem);
    border-bottom: 1px solid #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  #footer-1147 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    /* 28px - 40px */
    column-gap: clamp(1.75rem, 4vw, 2.5rem);
  }
  #footer-1147 .cs-li {
    list-style: none;
  }
  #footer-1147 .cs-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: #bababa;
    display: block;
    transition: color 0.3s;
  }
  #footer-1147 .cs-link:hover {
    color: var(--secondary);
  }
  #footer-1147 .cs-logo {
    width: 10.5rem;
    height: auto;
    display: block;
  }
  #footer-1147 .cs-logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #footer-1147 .cs-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  #footer-1147 .cs-social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #footer-1147 .cs-social-li {
    list-style: none;
  }
  #footer-1147 .cs-social-link {
    width: 2rem;
    height: 2rem;
    background-color: #484848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #footer-1147 .cs-social-link:hover {
    background-color: var(--secondary);
  }
  #footer-1147 .cs-social-link:hover .cs-social-icon {
    filter: grayscale(1) brightness(0);
    opacity: 1;
  }
  #footer-1147 .cs-social-icon {
    width: 0.75rem;
    height: auto;
    display: block;
    opacity: 0.5;
  }
  #footer-1147 .cs-copyright {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: #bababa;
    display: block;
  }
  #footer-1147 .cs-copyright-link {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  }
  #footer-1147 .cs-copyright-link:hover {
    color: var(--secondary);
  }
  #footer-1147 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #footer-1147 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.96;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #footer-1147 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1147 .cs-top {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer-1147 .cs-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=local.css.map */
