---
title: 'Kendu Inu | $KENDU Ecosystem'
description: 'Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
  <div class="cs-container">
      <div class="cs-content"> <!--
          <span class="cs-topper"> Save Our Earth, One Person at a Time</span>
          <h1 class="cs-title">Let’s Go Green As It Makes Environment</h1> -->
          <div class="countdown-container">
            <h1 class="countdown-title">KENDU</h1>
            <div class="countdown">
              <div class="countdown-item">
                <span id="days">00</span>
                <p>DAYS</p>
              </div>
              <div class="countdown-item">
                <span id="hours">00</span>
                <p>HOURS</p>
              </div>
              <div class="countdown-item">
                <span id="minutes">00</span>
                <p>MINUTES</p>
              </div>
              <div class="countdown-item">
                <span id="seconds">00</span>
                <p>SECONDS</p>
              </div>
            </div>
          </div>
          <p class="cs-text">
            Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
        </p>
          <div class="cs-button-group">
              <a href="" class="cs-button-solid cs-button1">Coming Soon!</a>
              <a href="" class="cs-button-solid cs-button2">About</a>
          </div>
      </div>
  </div>

  <div class="carousel" aria-live="polite" aria-label="Image Carousel">
    <div class="cs-card-group carousel-track row-1"></div>
    <div class="cs-card-group carousel-track row-2"></div>
    <div class="cs-card-group carousel-track row-3"></div>
</div>

  
  <img class="cs-graphic cs-graphic-light" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/bottom-graphic.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
  <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
  <img class="cs-graphic cs-graphic-dark" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/bottom-graphic.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
  
</section>
                              
                              

    <!-- ============================================ -->
    <!--                   About                      -->
    <!-- ============================================ -->

<section id="sbs-1984">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">A Legend Foretold</span>
          <h2 class="cs-title">The Kendu NFT Collection</h2>
          <p class="cs-text">
              Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
          </p>
          <ul class="cs-ul">
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/blue-check.svg" alt="checkmark" width="20" height="20">
                  Lorem ipsum dolor sit amet ullamco.
              </li>
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/blue-check.svg" alt="checkmark" width="20" height="20">
                  Conubia finibus cubilia sociosqu.
              </li>
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/blue-check.svg" alt="checkmark" width="20" height="20">
                  Lectus duis justo rutrum bibendum.
              </li>
          </ul>
          <a href="" class="cs-button-solid">Coming Soon!</a>
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg" alt="person" width="547" height="180">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg" alt="person" width="547" height="180">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg" alt="person" width="547" height="180">
          </picture>
      </div>
  </div>
  <img class="cs-graphic cs-graphic-light" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/subtract.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
  <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
  <img class="cs-graphic cs-graphic-dark" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/subtract.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
                              


<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1182">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Kendu</span>
          <h2 class="cs-title">Our Featured Gallery</h2>
      </div>
      <div class="cs-gallery">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image2.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image3.jpg" alt="picture" width="480" height="549">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg">
              <img loading="lazy" decoding="async" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/image1.jpg" alt="picture" width="480" height="549">
          </picture>
      </div>
  </div>

  <img class="cs-graphic cs-graphic-light" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/bottom-graphic3.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
  <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
  <img class="cs-graphic cs-graphic-dark" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/KenduNFT/bottom-graphic3.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
                              

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1983">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Dental Care For Everyone</span>
          <h2 class="cs-title">Smiles More Radiant and Healthy is Our Passion</h2>
          <p class="cs-text">
              Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
          </p>
          <ul class="cs-ul">
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/teal-check.svg" alt="checkmark" width="20" height="20">
                  Our focus is on your overall well-being.
              </li>
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/teal-check.svg" alt="checkmark" width="20" height="20">
                  We provide quality dental care.
              </li>
              <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/teal-check.svg" alt="checkmark" width="20" height="20">
                  Innovative therapy & qualified dentists.
              </li>
          </ul>
          <a href="" class="cs-button-solid">Get Started</a>
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile1.png">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile1.png">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile1.png" alt="person" width="547" height="180">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile2.png">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile2.png">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile2.png" alt="person" width="547" height="180">
          </picture>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile3.png">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile3.png">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/smile3.png" alt="person" width="547" height="180">
          </picture>
      </div>
  </div>
</section>
                              
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1072">
  <div class="cs-container">
      <div class="cs-content">
          <div class="cs-flex">
              <span class="cs-topper">Get Our Services</span>
              <h2 class="cs-title">Let’s Get You Back On The Road Faster. Schedule Now!</h2>
          </div>
          <div class="cs-button-box">
              <a href="" class="cs-button-solid">Schedule Our Services</a>
              <a href="" class="cs-button-transparent">Contact Us</a>
          </div>
      </div>
  </div>
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg" alt="mechanic" width="1280" height="568">
  </picture>
</section>
                              

<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
  <div class="cs-container">
      <div class="cs-top">
          <a aria-label="go back to home" class="cs-logo" href="">
              <img class="cs-logo-img" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/charity-logo.svg" alt="logo" width="168" height="48">
          </a>
          <ul class="cs-ul">
              <li class="cs-li">
                  <a href="" class="cs-link">Home</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">About</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Services</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Donations</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Events</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Blog</a>
              </li>
              <li class="cs-li">
                  <a href="" class="cs-link">Contact</a>
              </li>
          </ul>
      </div>
      <div class="cs-bottom">
          <!--Social-->
          <ul class="cs-social">
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-transparent.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                  </a>
              </li>
              <li class="cs-social-li">
                  <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                      <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-transparent2.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                  </a>
              </li>
          </ul>
          <span class="cs-copyright">
              © Copyright 2023 - <a href="" class="cs-copyright-link">Stitch Non-profit Charity</a>
          </span>
      </div>
  </div>
  <!--Background-->
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/kids2.jpg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/kids2.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/kids2.jpg" alt="kids" width="1280" height="568">
  </picture>
</footer>
                              


{% endblock %}

<!-- There are two dropdowns to show multi-menu support -->
