---
title: 'Kendu Inu | $KENDU Ecosystem'
description: 'Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"> Save Our Earth, One Person at a Time</span>
          <h1 class="cs-title">Let’s Go Green As It Makes Environment</h1>
          <p class="cs-text">
              We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
          </p>
          <div class="cs-button-group">
              <a href="" class="cs-button-solid cs-button1">Join Community</a>
              <a href="" class="cs-button-solid cs-button2">Donate Now</a>
          </div>
      </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
  </picture>
</section>
                              
                              

    <!-- ============================================ -->
    <!--                   About                      -->
    <!-- ============================================ -->


    <!-- ============================================ -->
    <!--                    FAQ                       -->
    <!-- ============================================ -->


{% endblock %}

<!-- There are two dropdowns to show multi-menu support -->
